alias crontab="VIM_CRONTAB=true crontab"
alias dot="cd $DOT"
alias lg='l -G'
alias ls='exa'
alias mc="cd $MC"
alias path="echo $PATH | tr : '\n'"
alias pm="cd $MC/product/mailchimp"
alias orgrepo="pwd | sed -En 's/^.*mc//p'"
alias pip3="pip3 --isolated"
alias t2="tree -L 2"
alias t3="tree -L 3"
